/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}
a:link {
  text-decoration: none;
}
/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}
h1 {
  margin-bottom: 1rem;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  ;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);

}

.hello {
  margin-top: 5rem;
}

.cover-container {
  max-width: 60em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.skills {
  margin-top: 5rem;
  margin-bottom: 1rem;
}
.icon-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icons {
  font-size: 5rem;
  margin-top: 10px;
  padding: .5rem .5rem .5rem 1rem;
}

.devicon-java-plain-wordmark {
  padding-right: 0;
  padding-left: 0;
}
.devicon-angularjs-plain {
  padding-left: 0;
}
.devicon-css3-plain-wordmark {
  padding-left: 0;
}

.card-title {
  color: #29323c;
  text-shadow: none;
}

.text {
  color: #485563;
  text-shadow: none;
}

.btn-custom {
  color: #fff !important;
  background-color: #485563 !important;
  text-shadow: none;
  margin-bottom: .5rem;
}
.btn-custom:hover {
  background-color: #29323c !important;

  text-shadow: none;
  margin-bottom: .5rem;

}
.edu{
  margin-top: 1.5rem;
}
.edu:hover {
  color: #687078;
}
.edu-text {
  margin-bottom: .25rem;
}
 .footer {
   text-align: center;
   color: #ceddef;
   font-size: 0.75rem;
   padding: 20px 0 20px;
 }
